.promote {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.promote-image-container,
.promote-content {
  display: flex;
  flex: 1;
}

.promote-content {
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.promote-title {
  text-align: center;
}

.promote-image-container {
  height: 600px;
  background-image: url(/images/couple.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promote-content {
  width: 100%;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 1200px) {
  .promote-image-container {
    display: none;
  }
  .promote-content {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .promote {
    padding: 40px 20px;
    justify-content: center;
    flex-direction: column;
  }

  .promote-content {
    padding: 0;
  }
}
