.trainer {
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trainer-image-container,
.trainer-content {
  display: flex;
  flex: 1;
}

.trainer-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 100px;
}

.trainer-title {
  text-align: center;
}

.trainer-image-container {
  height: 600px;
  background-image: url(/images/trainer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trainer-content {
  width: 100%;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .trainer-image-container {
    display: none;
  }
}

@media (max-width: 800px) {
  .trainer {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .trainer {
    flex-direction: column;
    padding: 0;
  }

  .trainer-content {
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
}
